* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #0f263e;
  color: #fff !important;
}
.date {
  color: white;
}

/* .date {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
} */

.date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.date__day {
  font-size: 1.5rem;
  font-weight: bold;
}
.flag-images {
  width: 4.2rem !important;
  height: 2.2rem !important;
  padding: 0 6px;
}
.table-data {
  display: flex;
}
.css-ahj2mt-MuiTypography-root {
  font-size: none !important;
  color: white;
}
.css-ahj2mt-MuiTypography-root {
  font-size: small;
}
.css-1ygcj2i-MuiTableCell-root,
.css-rfbarq-MuiInputBase-root-MuiOutlinedInput-root,
.css-i4bv87-MuiSvgIcon-root {
  color: #fff;
}
.css-16hhy4j-MuiFormLabel-root-MuiInputLabel-root,
.css-14td8qq-MuiButtonBase-root-MuiTab-root {
  color: #fff;
}
.css-ke5b6m-MuiButtonBase-root-MuiButton-root {
  text-transform: capitalize;
}
.pages-content {
  margin-top: 28px;
}

.headers,
.loading {
  display: block;
  text-align: center;
  color: #fff;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: #ff0056;
  padding-right: 60px !important;
}

.css-1ex1afd-MuiTableCell-root {
  width: 30px;
}
.css-15wwp11-MuiTableHead-root {
  background: #0a1929;
}

.css-1ex1afd-MuiTableCell-root {
  backdrop-filter: blur(8px);
  color: rgb(160, 170, 180);
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.MuiCircularProgress-colorPrimary {
  color: #fff !important;
}
.loading {
  position: fixed;
  top: 50%;
  left: 48%;
  margin: -50px 0px 0px -50px;
}
